html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "BaskervilleFS";
  src: url('../fonts/Baskerville-Regular-webfont.eot');
  src: url('../fonts/Baskerville-Regular-webfont.eot?#iefix') format('eot'), url('../fonts/Baskerville-Regular-webfont.woff') format('woff'), url('../fonts/Baskerville-Regular-webfont.ttf') format('truetype'), url('../fonts/Baskerville-Regular-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BaskervilleFS";
  src: url('../fonts/Baskerville-Italic-webfont.eot');
  src: url('../fonts/Baskerville-Italic-webfont.eot?#iefix') format('eot'), url('../fonts/Baskerville-Italic-webfont.woff') format('woff'), url('../fonts/Baskerville-Italic-webfont.ttf') format('truetype'), url('../fonts/Baskerville-Italic-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "BaskervilleFS";
  src: url('../fonts/Baskerville-Bold-webfont.eot');
  src: url('../fonts/Baskerville-Bold-webfont.eot?#iefix') format('eot'), url('../fonts/Baskerville-Bold-webfont.woff') format('woff'), url('../fonts/Baskerville-Bold-webfont.ttf') format('truetype'), url('../fonts/Baskerville-Bold-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "BaskervilleFS";
  src: url('../fonts/Baskerville-BoldItalic-webfont.eot');
  src: url('../fonts/Baskerville-BoldItalic-webfont.eot?#iefix') format('eot'), url('../fonts/Baskerville-BoldItalic-webfont.woff') format('woff'), url('../fonts/Baskerville-BoldItalic-webfont.ttf') format('truetype'), url('../fonts/Baskerville-BoldItalic-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "FranklinGothic";
  src: url('../fonts/FranklinGothic-Book-webfont.eot');
  src: url('../fonts/FranklinGothic-Book-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-Book-webfont.woff') format('woff'), url('../fonts/FranklinGothic-Book-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-Book-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothic";
  src: url('../fonts/FranklinGothic-BookIt-webfont.eot');
  src: url('../fonts/FranklinGothic-BookIt-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-BookIt-webfont.woff') format('woff'), url('../fonts/FranklinGothic-BookIt-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-BookIt-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "FranklinGothic";
  src: url('../fonts/FranklinGothic-Med-webfont.eot');
  src: url('../fonts/FranklinGothic-Med-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-Med-webfont.woff') format('woff'), url('../fonts/FranklinGothic-Med-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-Med-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothic";
  src: url('../fonts/FranklinGothic-MedIt-webfont.eot');
  src: url('../fonts/FranklinGothic-MedIt-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-MedIt-webfont.woff') format('woff'), url('../fonts/FranklinGothic-MedIt-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-MedIt-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "FranklinGothicCond";
  src: url('../fonts/FranklinGothic-Cd-webfont.eot');
  src: url('../fonts/FranklinGothic-Cd-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-Cd-webfont.woff') format('woff'), url('../fonts/FranklinGothic-Cd-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-Cd-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothicCond";
  src: url('../fonts/FranklinGothic-CdIt-webfont.eot');
  src: url('../fonts/FranklinGothic-CdIt-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-CdIt-webfont.woff') format('woff'), url('../fonts/FranklinGothic-CdIt-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-CdIt-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "FranklinGothicCond";
  src: url('../fonts/FranklinGothic-MedCd-webfont.eot');
  src: url('../fonts/FranklinGothic-MedCd-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-MedCd-webfont.woff') format('woff'), url('../fonts/FranklinGothic-MedCd-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-MedCd-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothicCond";
  src: url('../fonts/FranklinGothic-MedCdIt-webfont.eot');
  src: url('../fonts/FranklinGothic-MedCdIt-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-MedCdIt-webfont.woff') format('woff'), url('../fonts/FranklinGothic-MedCdIt-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-MedCdIt-webfont.svg#webfontSMxOInhK') format('svg');
  font-weight: bold;
  font-style: italic;
}

html {
  font-size: 200%;
  line-height: 1.1875em;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "BaskervilleFS", Baskerville, Palatino, Cambria, Georgia, serif;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(51, 203, 255, 0.25)), color-stop(75%, rgba(204, 242, 255, 0.25))) no-repeat, url('../images/template/noise.png?1354079581') repeat fixed;
  background: -webkit-linear-gradient(bottom, rgba(51, 203, 255, 0.25), rgba(204, 242, 255, 0.25) 75%) no-repeat, url('../images/template/noise.png?1354079581') repeat fixed;
  background: -moz-linear-gradient(bottom, rgba(51, 203, 255, 0.25), rgba(204, 242, 255, 0.25) 75%) no-repeat, url('../images/template/noise.png?1354079581') repeat fixed;
  background: -o-linear-gradient(bottom, rgba(51, 203, 255, 0.25), rgba(204, 242, 255, 0.25) 75%) no-repeat, url('../images/template/noise.png?1354079581') repeat fixed;
  background: linear-gradient(bottom, rgba(51, 203, 255, 0.25), rgba(204, 242, 255, 0.25) 75%) no-repeat, url('../images/template/noise.png?1354079581') repeat fixed;
  background: linear-gradient(to top, rgba(51, 203, 255, 0.25), rgba(204, 242, 255, 0.25) 75%) no-repeat, url('../images/template/noise.png?1354079581') repeat fixed;
  height: 100%;
  color: #265f73;
}

a:hover, a:active {
  outline: none;
}
a:link, a:visited {
  color: #cc5100;
  text-decoration: none;
}
a:focus, a:hover, a:active {
  color: #cc0066;
}

.amp {
  font-family: "BaskervilleFS", Baskerville, Palatino, Cambria, Georgia, serif;
  font-style: italic;
}

h1 {
  font-size: 2.0625rem;
  line-height: 2.375rem;
  margin-bottom: 0.59375rem;
  font-weight: bold;
}
h1 a:link, h1 a:visited {
  color: #cc5100;
}
h1 a:focus, h1 a:hover, h1 a:active {
  color: #cc0066;
}
h1:only-child {
  text-align: center;
}

h2 {
  font-size: 1.1875rem;
  line-height: 1.78125rem;
  margin-bottom: 0.59375rem;
  font-weight: bold;
}

h3 {
  margin-bottom: 0.59375rem;
}

h3, h4, strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

p, ul, ol, pre {
  margin-bottom: 1.1875rem;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal-leading-zero;
}

code, .code {
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
  font-size: 0.65625rem;
  line-height: 1.1875rem;
}

code {
  display: inline-block;
  padding: 0 0.29688rem;
  background: rgba(0, 114, 153, 0.125);
}

.code {
  line-height: 0.89063rem;
  margin-bottom: 1.1875rem;
  -webkit-box-shadow: #265f73 0 0 0.25em inset;
  -moz-box-shadow: #265f73 0 0 0.25em inset;
  box-shadow: #265f73 0 0 0.25em inset;
  overflow: auto;
  margin-left: -0.89063rem;
  padding: 0.59375rem;
  border-left: 0.29688rem solid rgba(0, 38, 50, 0.25);
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "IcoMoon";
  src: url('../fonts/oddsite.eot');
  src: url('../fonts/oddsite.eot?#iefix') format('eot'), url('../fonts/oddsite.svg#oddsite') format('svg'), url('../fonts/oddsite.woff') format('woff'), url('../fonts/oddsite.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
.vcard [href*="twitter"]:before, [data-icon]:before {
  font-family: 'IcoMoon';
  font-style: normal;
  speak: none;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  content: attr(data-icon);
}

.vcard [href*="twitter"]:before {
  content: "\e003";
}

#title h1 {
  text-align: center;
}

.vcard .logo {
  width: 31.1828%;
  float: left;
  margin-right: 3.22581%;
  margin-left: 17.2043%;
}
.vcard .fn, .vcard .links {
  width: 48.3871%;
  float: right;
  margin-right: 0;
}
.vcard .fn {
  margin-bottom: 0rem;
}
.vcard .links {
  list-style: none;
}
.vcard .links a:before {
  margin-right: .4em;
}
