// ----------------------------------------------------------------------------
// Links

a {
  &:hover, &:active { outline: none; }
  #{$link} {
    color: $alt;
    text-decoration: none;
  }
  #{$focus} { color: $accent; }
}

// ----------------------------------------------------------------------------
// Ampersand

.amp {
  @include serif;
  font-style: italic;
}

// ----------------------------------------------------------------------------
// Type

h1 {
  @include adjust-font-size-to($xxlargepx);
  @include trailer(.5);
  font-weight: bold;
  a {
    #{$link} { color: color($orange dark); }
    #{$focus} { color: color($pink dark); }
  }
  &:only-child { text-align: center; }
}

h2 {
  @include adjust-font-size-to($medpx);
  @include trailer(.5);
  font-weight: bold;
}

h3 { @include trailer(.5); }

h3, h4, strong { font-weight: bold; }
em { font-style: italic; }

p, ul, ol, pre { @include trailer; }

ul {
  list-style: disc;
  @include leader(.5);
}
ol {
  list-style: decimal-leading-zero;
  @include leader(.5);
}
li {
  @include trailer(.5);
}

code, pre, tt {
  @include mono;
  @include adjust-font-size-to($xxsmallpx,1);
}

code {
  display: inline-block;
  padding: 0 rhythm(.25);
  background: color($blue darker,.125);
}

pre {
  @include adjust-leading-to(.75);
  @include trailer;
  @include box-shadow($base 0 0 .25em inset);
  overflow: auto;
  margin-left: rhythm(-.75);
  padding: rhythm(.5);
  border-left: rhythm(.25) solid color($blue darkest,.25);
}

img { max-width: 100%; }

tt {
  background: color($blue darker, .125);
  padding: rhythm(.25);
  border: rhythm(.05) solid color($blue darkest, .25);
}

h1 tt {
  @include adjust-font-size-to($smallpx,1);
}

h2 tt {
  @include adjust-font-size-to($xsmallpx,1);
}
