// ----------------------------------------------------------------------------
// Colors

$mid              : hsl(0,0%,50%);
$blue             : hsl(195,100%,50%);
$orange           : hsl(24,100%,50%);
$green            : hsl(75,100%,50%);
$pink             : hsl(330,100%,50%);

// ----------------------------------------------------------------------------
// Defaults

$base             : color(-50% $blue darker);
$alt              : color($orange dark);
$accent           : color($pink dark);
