// ----------------------------------------------------------------------------
// Mixins

@mixin section($color: rgba($orange-light,.1)) {
  position: relative;
  &:before, &:after {
    @include stretch-y;
    content: " ";
    left: - 100%;
    right: - 100%;
    padding: {
      left: 100%;
      right: 100%;
    }
    background: $color;
    z-index: -1;
  }
  &:before { @include rotate(2deg); }
  &:after { @include rotate(-2deg); }
}

// ----------------------------------------------------------------------------
// Title

#title, #questions {
  h1 { text-align: center; }
}

.vcard {
  @include leader(1);

  .logo{
    @include span-columns(4);
    @include push(2);
  }
  .fn, .links {
    @include span-columns(6 omega);
  }
  .fn {
    @include trailer(0);
  }
  .links {
    list-style: none;
    a:before { margin-right: .4em; }
  }

  [href*="twitter"] {
    @extend %icon;
    @extend %icon-twitter;
  }

  li {
    @include trailer(0);
  }

  ul {
    @include leader(0)
  }
}

// ----------------------------------------------------------------------------
// Steps

@include animate;

.step[data-fullwidth="1"] { width: 1024px; }

.innerStep {
  opacity: 0;
  &.stepped { @include animation(fadeInLeft 300ms both); }
}

#thistalk {
  > ul { float: left; }
  img { float: right; }
}

